#header_row > div {
  display: flex;
  justify-content: center;
}

#header_row {
  flex: 2 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#edit_row > input {
  text-align: center;
  vertical-align: middle;    
}

#edit_row {
  flex: 1 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#num_row {
  flex: 1 100px;
  display: flex;
  justify-content: space-around;
}

#num_row > .num {
  flex: 100px;
  border: 1px solid black;
  font-size: 7vh;
  text-align: center;
  vertical-align: middle;
  margin: 20px;
}

#num_row > .op {
  flex: 100px;
  font-size: 7vh;
  text-align: center;
  vertical-align: middle;  
  margin: 20px;
}

#output_wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button_wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#output {
  font-size: 4vh;  
}

#retry {
  font-size: 4vh;  
}

#doc_wrapper {
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  font-weight: bold;
}

html, body {
  font-family: Verdana;
  /* width: 100%; */
  /* height: 100%; */
}