html {
    font-family: Verdana;
    max-width: 900px;
    /* For Desktop PC (see @media for Tablets/Phones) */
    padding-left: 2%;
    padding-right: 3%;
/*     margin: 0 auto; */
    background: #e4e4e4;
}

a {
    color: black;
    font-weight: bold;
}